@import '../styles/ant-screen-sizes';

.contact-social-media {
	// Don't display the title on mobile
	h3.ant-typography {
		display: none;
	}
	@include ant-size(md) {
		h3.ant-typography {
			display: block;
		}
	}

	.buttons {
		display: flex;
		justify-content: space-evenly;
	}
}