.contact-info {
	> div {
		display: flex;
		align-items: center;
		padding-bottom: 8px;
		svg {
			margin-right: 16px;
			&.svg-inline--fa {
				$size: 1.5em;
				height: $size;
				width: $size;
				color: var(--font-color-1);
			}
		}
	}
}