/**
 * Constants file for colors used throughout the webapp.
 *
 * Since this file begins with an underscore, it will not be converted into it's own css file
 */

// Other custom colors I want to include

// Colors that I thought looked nice for a blue theme
// https://coolors.co/ffffff-00a7e1-007ea7-003459-00171f
$blue-color1: #ffffffff;
$blue-color2: #00a7e1ff;
$blue-color3: #007ea7ff;
$blue-color4: #003459ff;
$blue-color5: #00171fff;

// TODO: use or delete these
