@import './_global-constants';
@import './ant-screen-sizes';

// Text
h1.ant-typography, .ant-menu {
	color: var(--font-color);
}
h2, h3, h4, h5 {
	&.ant-typography {
		color: var(--font-color-1);
	}
}
div, span {
	&.ant-typography {
		color: var(--font-color-2);
	}
}
h1.ant-typography {
	font-size: 70px;
}
h2.ant-typography {
	font-size: 45px;
}

// Hyperlinks
a.ant-typography {
	color: var(--accent-color);
	font-weight: 600;
	&:hover {
		color: var(--accent-color-lighter);
	}
	&:focus {
		color: var(--accent-color-darker);
	}
}

// Forms
.ant-form-item-label > label{
	color: var(--font-color-2);
}
.ant-form-item-has-error .ant-input {
	background-color: var(--background-color-lighter);
	border: 2px solid var(--error-color);
	&:hover {
		background-color: var(--background-color-lighter);
		border: 2px solid var(--error-color);
	}
}
.ant-input:focus, .ant-input-focused {
	box-shadow: 0 0 1pt 1pt var(--accent-color);
}
.ant-input {
	color: var(--font-color);
	&:hover {
		border: 0;
	}
}

// Buttons
.ant-btn {
	&.ant-btn-primary {
		background: var(--accent-color);
		border-color: var(--accent-color);
		&:hover, &:focus {
			background: var(--accent-color-lighter);
			border-color: var(--accent-color-lighter);
		}
		&:active {
			background: var(--accent-color-darker);
			border-color: var(--accent-color-darker);
		}
	}
	&.ant-btn-lg {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		padding: 30px 70px;
	}
	&.ant-btn-background-ghost {
		color: var(--accent-color);
		&:hover {
			color: var(--accent-color-lighter);
		}
	}
}

svg {
	// Main logo in the header
	#logo-j, #logo-dot {
		fill: var(--accent-color);
	}
}

// Add a padding to every section on mobile (xs, sm), but nowhere else (md or higher)
.padded-section {
	padding: 16px;
}
@include ant-size(md) {
	.padded-section {
		padding: 120px 0;
	}
}

.padded-section {
	> h2.ant-typography, h4.ant-typography {
		text-align: center;
	}
	
	// Create a colored underline on section titles
	> h2.ant-typography {
		position: relative;
		padding-bottom: 20px;
		&::before {
			content: "";
			position: absolute;
			background: var(--accent-color);
			height: 4px;
			width: 100px;
			bottom: 0;
			right: 0;
			left: 0;
			margin: 0 auto;
		}
	}
}