.about-me-section {
	h1.ant-typography {
		margin-bottom: 10px;
	}
	h4.ant-typography {
		margin-top: 10px;
		margin-bottom: 40px;
	}
	&.ant-row {
		.ant-col:nth-child(2) {
			background-color: var(--background-color-darker); // TODO: remove once you have a picture
			img {
				max-width: 200px;
			}
		}
	}
}