.ant-card-cover {
	display: flex;
	justify-content: center;
	padding: 32px;
	> * {
		width: 50%;
	}
}

.hidden-description {
	.ant-typography {
		color: black; // TODO: remove
	}
	background-color: var(--accent-color);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	margin-top: 20px;
	padding: 12px;
	transition: 0.4s;
	&:hover {
		margin: 0;
		opacity: 0.9;
		transition: 0.4s;
	}
	> :nth-child(1), :nth-child(2) {
		text-align: center;
	}
}