@import './styles/mixins';
@import './styles/global-styles.scss';

.ant-layout-content > * {
	&:nth-child(even) {
		background-color: var(--background-color-lighter);
	}
	&:nth-child(odd) {
		background-color: var(--background-color);
	}
}

// Account for the height of the fixed header
.ant-layout-content {
	margin-top: 74px;
}
@include ant-size(sm) {
	.ant-layout-content {
		margin-top: 104px;
	}
}