$card-border-radius: 6px;

.job-card {
	border-radius: $card-border-radius;
	position: relative;

	.ant-card-cover {
		
		height: 300px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: white;
		img {
			width: 60%;
		}
	}

	.ant-card-body {
		.ant-card-meta-title {
			:nth-child(1) {
				color: black; // TODO
				margin-bottom: 0;
			}
			:nth-child(2) {
				color: var(--accent-color);
			}
		}
	}

	.ant-card-meta-description {
		height: 0;
		transition: 0.3;
	}
	&:hover {
		.ant-card-meta-description {
			height: unset;
			transition: 0.3s;
		}
	}

	// Displays the duration of the job (ex: '3 yrs')
	.circle {
		$size: 55px;
		width: $size;
		height: $size;

		// Put the circle in the top right
		position: absolute;
		$offset: 15px;
		top: $offset;
		right: $offset;

		text-align: center;
		border-radius: 50%;
		background: var(--accent-color);
		color: var(--font-color);
		line-height: 18px;
		font-weight: 700;
		padding: 8px;
		box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
			0 1px 1px 0 rgba(0, 0, 0, 0.14),
			0 1px 3px 0 rgba(0,0,0,.12);

		> :nth-child(1) {
			font-size: 18px;
		}
		> :nth-child(2) {
			font-size: 12px;
			text-transform: uppercase;
		}
	}

	// We also have to round the children to see the parent's border radius
	.ant-card-cover {
		border-top-left-radius: $card-border-radius;
		border-top-right-radius: $card-border-radius;
	}
	.ant-card-actions {
		border-bottom-left-radius: $card-border-radius;
		border-bottom-right-radius: $card-border-radius;
	}
}