.theme-switcher {
	.circle {
		$move: 4px;
		$size: 40px;
		height: $size;
		width: $size;
		border-width: 5 px;
		border-style: solid;
		border-radius: 50%;
		box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
					0 1px 1px 0 rgba(0, 0, 0, 0.14),
					0 1px 3px 0 rgba(0,0,0,.12);
		cursor: pointer;

		margin-top: $move;
		transition: 0.3s;
		&:hover {
			margin-top: 0;
			margin-bottom: $move;
		}
	}

	// Dark styles

	@mixin dark($property) {
		background-color: #1e1e1e;
		border-color: $property;
	}

	.dark-orange {
		@include dark(#ff9800);
	}
	.dark-green {
		@include dark(#8bc34a);
	}
	.dark-cyan {
		@include dark(#00bcd4);
	}

	// Light styles

	@mixin light($property) {
		background-color: #ffffff;
		border-color: $property;
	}
	
	.light-purple {
		@include light(#9c27b0);
	}
	.light-orange {
		@include light(#ff9800);
	}
	.light-cyan {
		@include light(#00bcd4);
	}
}